page-login {

    .btn{
        height: 50px;
        border-radius: 4px;
    }

    .bottom{
        position: absolute;
        bottom: 5px;
        width: 100%;
        left: 0;
        right: 0;
    }

    .item-md ion-icon[item-left], .item-md ion-icon[item-right], 
    .item-md ion-icon[item-start], .item-md ion-icon[item-end]{
        position: absolute;
        bottom: -9px;
    }

    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, 
    .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input
    {
        margin-left:40px; 
    }

    .icons{
        font-size: 30px;
    }

}
